<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.12.4.min.js">
</script>
</head>
<body>
<h1>게시판 메인</h1>
	아이디: <span type="text" th:text="${session.mb.id}"></span><br>
	비밀번호: <span type="text" th:text="${session.mb.pw}"></span><br>
	닉네임: <span type="text" th:text="${session.mb.name}"></span><br>
	<button id="mBtn">
		<a href="#">회원정보수정</a>
	</button>
	
	<form action="/member/logout">
		<button>로그아웃</button>
	</form>
	
	<button id="dBtn">
		<a href="#">회원탈퇴</a>
	</button>

	<div id="flagM">
		<form action="/member/update" method="post">
			<input type="text" id="nickName" name="name">
			<input type="hidden" name="id" th:value="${session.mb.id}">
			<input type="submit" value="수정버튼">
		</form>
	</div>
	
	<div id="flagD">
		<form action="/member/delete" method="post">	
			<input type="hidden" name="id" value="${mb.id}">
			<input type="password" name="pw" required placeholder="비밀번호입력">
			<input type="submit" value="회원탈퇴">
		</form>
	</div>
	-------------------------------------------------
	<br> 게시판 리스트
	<br> --------------------------------------------------
	<br>
	<table border="1">
	<tr>
			<td>글번호</td>
			<td>제목</td>
			<td>작성자</td>
			<td>작성일</td>
			<td>조회수</td>
		</tr>
	<c:forEach var="board" items="${bList}">   <!--  [{},{},{}....] -->
		<tr>
			<td th:text="${session.board.b_num}"></td>
			<td>${board.b_title}</td>
			<td>${board.b_writer}</td>
			<td>${board.b_date}</td>
			<td>${board.b_views}</td>
		</tr>
	</c:forEach>
	</table>
	
	<script type="text/javascript">
		$('#flagM').hide();
		$('#mBtn').on("click", function() {

			$('#flagM').show();

		})
		$('#mmBtn').on("click", function() {

		})
		
		$('#flagD').hide();
		$('#dBtn').on("click", function() {

			$('#flagD').show();

		})
		$('#ddBtn').on("click", function() {

		})
	</script>
</body>
</html>