<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
jQuery( document ).ready(function( $ ) {
	$('body').prepend('<a href="/member/loginfrm">로그인</a>');
});
</script>
</head>
<body>
<h1>index.jsp</h1>
	<a href="/member/loginfrm">로그인</a><br>
	<a href="/member/joinfrm">회원가입</a><br>
	<div><img src=".././img/garen.png"></div>
	<a href="/member/loginfrm">
	<img src="\img\garen.png">
	<a>
</body>
</html>