<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/jquery-3.7.0.min.js"></script>
</head>
<body>
<!-- <div th:insert="~{/common :: header}"></div> -->
<!-- <div th:insert="~{/common :: navigation}"></div> -->
<h1>나는 헤더</h1>
<h1>나는 검색창</h1>
	<div class="center">
		<h1>본문내용</h1>
		<div class="container">
			<div class="box">
				<div><img th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/' + ${chName} + '.png'}"></div>
<!-- 				 <img th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Aatrox.png'}"> -->
				<div class="mg">스킬 설명 및 영상</div>
			</div>
			<div class="tab-container">
				<!-- 해당챔피언의 라인별 픽률 top3가 db에서 넘어와 텍스트로 자동으로 수치화 -->
				<div class="tab" onclick="showTab('tab1')"> <div>TOP</div><div>50.5%</div> </div>
				<div class="tab" onclick="showTab('tab2')"> <div>JUN</div><div>40.5%</div> </div>
				<div class="tab" onclick="showTab('tab3')"> <div>BOT</div><div>30.5%</div> </div>
			</div>
			<div id="tab1-content" class="tab-content">
				<div class="flex"><div class="querter">1아이템빌드</div>
								  <span class="querter"><div>승률</div><div>00.0%</div></span>
								  <span class="querter"><div>픽률</div><div>00.0%</div></span>
				</div>
				<div class="flex"><div class="half">카운터
					<div> 
						<img class="mini" th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Ahri.png'}">
						<img class="mini" th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Amumu.png'}">
					</div>
				</div>
				<div class="half">스펠</div></div>
			</div>

			<div id="tab2-content" class="tab-content">
				<div class="flex"><div class="querter">2아이템빌드</div>
								  <span class="querter"><div>승률</div><div>00.0%</div></span>
								  <span class="querter"><div>픽률</div><div>00.0%</div></span>
				</div>
				<div class="flex"><div class="half">카운터</div><div class="half">스펠</div></div>
			</div>

			<div id="tab3-content" class="tab-content">
				<div class="flex"><div class="querter">3아이템빌드</div>
								  <span class="querter"><div>승률</div><div>00.0%</div></span>
								  <span class="querter"><div>픽률</div><div>00.0%</div></span>
				</div>
				<div class="flex"><div class="half">카운터
					<img class="mini" th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Aatrox.png'}">
					<img th:src="@{'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Aatrox.png'}">
				</div>
				<div class="half">스펠</div></div>
			</div>
			<div class="box">룬</div>
			
		</div>
	</div>
</body>
<script>
	function showTab(tabId) {
		// 모든 탭의 내용을 감춤
		document.querySelectorAll('.tab-content').forEach(function(tabContent) {
			tabContent.style.display = 'none';
		});
		// 선택한 탭의 내용을 보이게 함
		document.getElementById(tabId + '-content').style.display = 'block';
	}
</script>
</html>