<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/jquery-3.7.0.min.js"></script>
</head>
<body>
    <h1>나는 헤더</h1>
    <h1>나는 검색창</h1>
    <div class="center">
        <div>
            <label>티어</label>
            <!-- 드롭다운을 만드는 select 요소 -->
            <select>
                <option value="diamond">diamond</option>
                <option value="platinum">platinum</option>
                <option value="gold">gold</option>
                <option value="silver">silver</option>
                <option value="bronze">bronze</option>
            </select>
            <span class="ccnter">헤더자리(카운터, 아이템, 스킬, 룬)</span>
        </div>
        <div class="container">
            <div class="box">
                <div><img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Garen.png">
                </div>
                <div>스킬 설명 및 영상</div>
            </div>
            <div class="tab-container">
                <div class="tab" onclick="showTab('tab1')">
                    <div>TOP</div>
                    <div>50.5%</div>
                </div>
                <div class="tab" onclick="showTab('tab2')">
                    <div>JUN</div>
                    <div>40.5%</div>
                </div>
                <div class="tab" onclick="showTab('tab3')">
                    <div>BOT</div>
                    <div>30.5%</div>
                </div>
            </div>
            <div id="tab1-content" class="tab-content">
                <div class="flex">
                    <div class="width33">1아이템빌드</div>
                    <span class="width33">
                        <div>승률</div>
                        <div>00.0%</div>
                    </span>
                    <span class="width33">
                        <div>픽률</div>
                        <div>00.0%</div>
                    </span>
                </div>
                <div class="flex">
                    <div class="width-half">카운터
                        <div>
                            <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Ahri.png">
                            <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Amumu.png">
                        </div>
                    </div>
                    <div class="width-half">스펠</div>
                </div>
            </div>

            <div id="tab2-content" class="tab-content">
                <div class="flex">
                    <div class="width33">2아이템빌드</div>
                    <span class="width33">
                        <div>승률</div>
                        <div>00.0%</div>
                    </span>
                    <span class="width33">
                        <div>픽률</div>
                        <div>00.0%</div>
                    </span>
                </div>
                <div class="flex">
                    <div class="width-half">카운터</div>
                    <div class="width-half">스펠</div>
                </div>
            </div>

            <div id="tab3-content" class="tab-content">
                <div class="flex">
                    <div class="width33">3아이템빌드</div>
                    <span class="width33">
                        <div>승률</div>`
                        <div>00.0%</div>
                    </span>
                    <span class="width33">
                        <div>픽률</div>
                        <div>00.0%</div>
                    </span>
                </div>
                <div class="flex">
                    <div class="width-half">카운터
                        <img class="mini" src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Aatrox.png">
                        <img src="https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/Aatrox.png">
                    </div>
                    <div class="width-half">스펠</div>
                </div>
            </div>
            <div class="box">룬</div>

        </div>
    </div>
</body>
<script>
    function showTab(tabId) {
        // 모든 탭의 내용을 감춤
        document.querySelectorAll('.tab-content').forEach(function (tabContent) {
            tabContent.style.display = 'none';
        });
        // 선택한 탭의 내용을 보이게 함
        document.getElementById(tabId + '-content').style.display = 'block';
    }
</script>

</html>